@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700);

html, body {
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
    background-color: #e7e7e7;
    color: #333;
}
#header{
    background-color: #34495e;
    color: #f6f6f6;
    z-index: 10;
    text-align: center;
}
#main{
    width: 100%;
}
h1{
  text-align:left;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-size: 1.5em;
  font-family: 'Ibarra Real Nova', serif;
}
#quote{
  width: 100%;
}
blockquote {
  border-left: 3px solid #013220;
  display:inline-block;
  color: #f6f6f6;
  padding: 0.5em;
}
blockquote p{
  font-style: italic;
}
ul li{
  padding: 0.2em;
}
a:link, a:visited{
    color:#34495e;
}

@media(min-width: 1300px){
  #main-block {
    display: block;
  }

  #main-holder{
      font-family: 'Roboto', sans-serif;
      position: relative;
      text-align: left;
      padding: 2%;
      width: 50%;
      left: 25%;
      display: flex;
  }

  #sidebar{
    width: 25%;
    display: block;
    background-color: #888888;
    color: #f6f6f6;
    padding: 1%;
    border-radius: 25px;
  }

  #sidebar-header{
    display: none;
  }

  #logo{
    position: relative;
    width: 90%;
    left: 5%;
  }

  #logo img{
    border-radius: 50%;
  }

  #name{
    text-align:center;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
  }
  
  #pad{
    width: 2%;
  }

  #content-col{
    width: 75%;
    display: block;
  }

  #main-map{
    height:20em;
    width: 80%;
    left: 5%;
    padding: 2%;
    border-radius: 5%;
  }
  #pfooter{
    width: 50%;
    left: 25%;
    position: relative;
    text-align:center;
    color: #34495e;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    font-size: 0.8em;
    padding-bottom: 3em;
  }
}
@media(max-width: 1300px){
  #name{
    padding: 2%;
    text-align:left;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
  }
  #sidebar-header{
    text-align:left;
    padding: 2%;
    font-size: 0.5em;
    display: inline;
  }
  #content-col{
      font-family: 'Roboto', sans-serif;
      position: relative;
      text-align: left;
      padding: 2%;
      width: 90%;
      left: 5%;
  }
  #logo, #sidebar-text, #pfooter{
    display: none;
  }
}
