@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
  color: #333;
}

#header {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #34495e;
  color: #f6f6f6;
}

#header a:link, #header a:visited {
  color: #f6f6f6;
}

#header-home {
  text-align: center;
}

#main {
  width: 100%;
}

a:link, a:visited {
  color: #34495e;
}

#main-content {
  font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: left;
  padding: 2%;
  width: 50%;
  left: 25%;
}

#footer {
  width: 50%;
  left: 25%;
  position: relative;
  text-align: center;
  color: #34495e;
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  font-size: 0.8em;
  padding-bottom: 3em;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
h2{
  font-size: 1.5em;
  font-family: 'Ibarra Real Nova', serif;
}

code {
  color: #013220;
}
